body {
	margin: 0px;
	padding: 0px;
}

svg {
	position: absolute;
	background-color: rgb(0, 25, 51);
	background: url(http://www.mrwallpaper.com/wallpapers/space-red-nebulae.jpg);
}

line {
	fill: none;
  	stroke: #3F5266;
	stroke-width: 1px;
}

.dashed {
	stroke-dasharray: 10, 10;
}

circle {
	fill: white;
}

div.tooltip {
	padding: 10px;
	position: absolute;           
	text-align: center;           
	min-width: 60px;                  
	min-height: 28px;           
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}

acronym {
	font-weight: bold;
}

.in {
	stroke: lightblue;
}

.out {
	stroke: pink;
}